body {
    text-align: center;
}

#seats > div > span:nth-child(3),
#seats > div > span:nth-child(7) {
    margin-left: 25px;
}

#screen {
    border: 1px solid black;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.occupied {
    color: red;
}

.selected {
    color: blue;
}

#seats span {
    cursor: pointer;
}

#seat span.occupied {
    cursor: not-allowed;
}
